[Unit]
Description = Renew certs with systemd-timer for %i

[Service]
WorkingDirectory=/usr/local/lib/certbot-cloudflare-dns
EnvironmentFile=/usr/local/lib/certbot-cloudflare-systemd/.env
ExecStart = /bin/sh /usr/local/lib/certbot-cloudflare-systemd/getcert.sh %i
Type = simple

[Install]
WantedBy = multi-user.target
