[Unit]
Description = Renew certs with systemd-timer for %i

[Service]
ExecStart=/usr/bin/podman run \
    --env-file .env \
    --mount type=bind,src=./config,dst=/opt/certbot/config \
    --mount type=bind,src=./logs,dst=/opt/certbot/logs \
    --name=%p_%i \
    --rm \
    -i \
    certbot-cloudflare-systemd \
    %i
ExecStartPre=-/usr/bin/podman kill %p_%i
ExecStartPre=-/usr/bin/podman rm %p_%i
ExecStartPre=/usr/bin/podman build -t certbot-cloudflare-systemd .
KillMode=none
TimeoutStartSec=0
Type=simple
WorkingDirectory=%h/pods/certbot-cloudflare-systemd

[Install]
WantedBy = multi-user.target
